table,td,th{ 

    border-style: double;
    border: 1px solid;
    padding: 10px 10px 10px ;
}

img{
    
    margin-left: 150px;
    padding-top: 40px;
    width: 400px}

    .red{ 
        text-align: center;
        color: red;
        border-style: double;
    }

    h2{
        text-align: center;
    }