<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gifs</title>
  </head>
  <body>
    <h2>All Gifs</h2>
    {% comment %} using the views.py view the all the gifs along with their
    categories. {% endcomment %} {% for gif in gifs %} {% comment %} display the
    gif {% endcomment %}
    <img src="{{ gif.gif.url }}" alt="" />
    {% comment %} display the categories {% endcomment %} {% for category in
    gif.categories.all %}
    <p>{{ category.name }}</p>
    {% endfor %}
  </body>
</html>
