img {
float: left;
height:50px;
position:fixed

}


nav{
    background-color: black;
    color: white
    height: 50px; 
    border: solid 30px;
    
}

.a{

    display: inline;
    
}

.b {
    display: inline;
    float: right;
    text-decoration: none;   
    opacity: 80%; 
    color: aliceblue;
    
}

ul{
    font-size: larger;
}

.btn:hover{
    font-size: larger;
    
    
}
.btn{
    font-size: large;
}

.btn:active{
    color: red;
    
}