img {
float: left;
height:50px;
position:fixed

}


nav{
    background-color: black;
    color: white
    height: 30px; 
    border: solid 20px;
}



ul{
    font-size: larger;
    float: right;
    list-style-type: none;
    
}
.b {
    float: right;
    opacity: 80%; 
    
}
ul :first-child{
    float: left; 
}

.btn:hover{
    font-size: larger;
    
    
}
.btn{
    font-size: large;
}

.btn:active{
    color: red;
    
}

a. {
    float: left;
    margin-right: 90%;
}