<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}My Site{% endblock %}</title>
    {% block styles %} {% comment %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    {% endcomment %} {% endblock %}
  </head>
  <body>
    <nav>{% include 'partials/navbar.html' %}</nav>
    {% block content %} {% for film in films %}
    <h2>{{ film.title }}</h2>
    <p>Release date: {{ film.release_date }}</p>
    <p>Category: {{ film.category }}</p>
    <p>Director: {{ film.director }}</p>
    <p>Available in country: {{ film.available_in_country }}</p>
    <p>Created in country: {{ film.created_in_country }}</p>
    {% endfor %} {% endblock %}
    <footer>{% include 'partials/base.html' %}</footer>
  </body>
</html>
