<!DOCTYPE html>

{% extends 'base.html' %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Animals</title>
  </head>
  <body>
    <h2>All Animals</h2>
    <ul>
      <li>
        <a href="/animals/1">Animal 1</a>
      </li>
      <li>
        <a href="/animals/2">Animal 2</a>
      </li>
      <li>
        <a href="/animals/3">Animal 3</a>
      </li>
    </ul>
    <h1>Animal 1</h1>

    {% block content %}
    <h1>All Animals</h1>
    <ul>
      {% for animal in animals %}
      <li>{{ animal }}</li>
      {% endfor %}
    </ul>
  </body>
</html>

{% endblock %}
