<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Info on Animals</title>
  </head>
  <body>
    <h2>Info on Animals</h2>

    {% comment %} "id": 3, "name": "Panther", "legs": 2, "weight": 5.67,
    "height": 4.2, "speed": 34, "family": 1, {% endcomment %} {{ animal.name }}
    {{ animal.legs }} {{ animal.weight }} {{ animal.height }} {{ animal.speed }}
    {{ animal.family }}
  </body>
</html>
